@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: new { area = "" }, htmlAttributes: new { title = "Manage" })
        </li>
        @if (User.IsInRole("Admin") || User.IsInRole("ClubAdmin"))
        {
            <li>
                @Html.ActionLink("Class List", "ViewByClass", "Admin", routeValues: new { area = "" }, htmlAttributes: new { title = "Class Lists" })
            </li>

            <li>
                @Html.ActionLink("Player List", "Index", "Admin", routeValues: new { area = "" }, htmlAttributes: new { title = "Player List" })
            </li>
            <li>
                @Html.ActionLink("Players by Date", "ViewByDate", "Admin", routeValues: new { area = "" }, htmlAttributes: new { title = "Players By Date" })
            </li>
            <li>
                @Html.ActionLink("Assign Players", "Index", "ClubAdmin", routeValues: new { area = "" }, htmlAttributes: new { title = "Assign Players" })
            </li>
        }


<li><a href="javascript:sessionStorage.removeItem('accessToken');$('#logoutForm').submit();">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: new { area = "" }, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: new { area = "" }, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
