@model List<ClubSignUp.Models.ViewModels.AssignViewModel>
@using ClubSignUp.Models.ViewModels
@using ClubSignUp.Models;
@{
    ViewBag.Title = "Index";
}

        @using (Html.BeginForm("PutAssignments", "ClubAdmin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {


    for (int i = 0; i < this.Model.Count(); i++)
    {

                @Html.AntiForgeryToken()
                @Html.HiddenFor( m => m[i].ApplicationUserID)
                @Html.HiddenFor(m => m[i].Email)
                <div class="form-group ">
                    @Html.TextBoxFor(m => m[i].Fname, new { @readonly = "readonly" })
                
                        @Html.TextBoxFor(m => m[i].Sname, new { @readonly = "readonly" })
                
                    @Html.EnumDropDownListFor(m => m[i].Assigned)

                                        
                </div>
            }

            <input type="submit" class="btn btn-default" value="Assign" />
        }

