@using Microsoft.AspNet.Identity
@model ClubSignUp.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Players</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Club)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Club)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreferredPosition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreferredPosition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course)
        </dd>

        <dt>
            Course Name
        </dt>

        <dd>
                 @ViewBag.ProgrammeName
       </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SignupDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SignupDate)
        </dd>


    </dl>
</div>
<p>
@if (Request.IsAuthenticated)
{
    if (User.IsInRole("ClubAdmin") || User.IsInRole("Admin"))
    {
            @Html.ActionLink("Edit | ", "Edit", new { id = Model.Id });
    }
    if (User.IsInRole("Admin"))
    {
            @Html.ActionLink(" Delete | ", "Delete", new { id = Model.Id });
    }

}

    @Html.ActionLink("Back to List", "Index")
</p>
